.navbar {
    font-family: "PT Serif", serif;
}
.hero{
    width: 100%;
    position: relative;
    display: inline-block;
    height: auto;
}
.headline {
    font-size: 4em;
    font-weight: 700;
    text-align: center;
    font-family: "PT Sans", sans-serif;
    position: absolute;
    background-color: black;
    color: whitesmoke;
    top: 60%;
    padding: 10px 20px;
    width: 100%;
    opacity: 75%;  
}

@media screen and {max-width: 800px;
    .headline: 2em;

}
    

.container{
    margin-top: 30px;
    max-width: 850px;
}

.byline {
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'PT Sans', sans-serif;
    align: center;
}

.chapter_head {
    font-size: 2em;
    font-family: 'PT Sans', sans-serif;
    text-align: left;

}

p{
    font-family: "PT Serif" serif;
    line-height: 180%;
    font
}

.picture {
    text-align: center;
    width: 100%;

}

.picture_2{
    margin-top: 30px;
    margin-bottom: 10px;
    max-width: 700px;
    align-content:center;
    background-color: black;
}

.sidebar{
    max-width: 700px;
    border: 3px solid red;
    border-color: rgb(155, 16, 16);
    background-color: black;
    opacity: 90%;
    color: whitesmoke;
    padding: 10px;
    align-content: center;
    margin-top: 30px;
    margin-bottom: 30px;
    line-break: loose;

}

.caption{
    font-size:smaller;
    font-family: georgia, serif;
    color: black;
    text-align: left;
}

.chart{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.h2{font-family: "PT Serif", serif;
font-size: 2em;
align-content: center;

}

/* Style Elements for Blockquote*/
.blockquote{
    width:75%;
    font-size: 1.5em;
    position: relative;
    border: solid black;
    background-color: black;
    opacity: 90%;
    color: whitesmoke;
    padding: 10px;
}

/*Style Elements for Hyperlinks*/

a:link {
    color: rgb(11, 31, 214);
  }
  
  a:visited {
    color: rgb(175, 171, 175);
  }
  
  a:hover {
    color: rgb(179, 29, 220);
  }


.footer
{font-family: "Montserrat", sans-serif;
    color: lightgrey;
    background-color: black;
    margin-bottom: 10px;
    text-align: center;

    @media screen and (max-width: 500px){
       .headline{font-size: 1.5em;
                top:0%}
       .picture_2{width: 100%}
    }