.headline {
    font-size: 3em;
    font-weight: 700;
    text-align: center;
    font-family: 'Montserat', sans-serif
}

.byline {
    font-size: 1em;
    text-transform: uppercase;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}

.chapter_head {
    font-size: 2em;
    font-family: 'Montserrat', sans-serif;
    text-align: left;

}

p{
    font-family: georgia,serif;
    line-height: 180%;
    font
}

.picture {
    text-align: center;
    width: 100%;

}

.picture_2{
    margin-top: 30px;
    margin-bottom: 30px;
    max-width: 600px;
    margin: auto 0; 
}

.sidebar{
    max-width: 600px;
    border-width: 10px;
    border-color: black;
    padding: 10px;
}

.caption{
    font-size:smaller;
    font-family: georgia, serif;
    color: darkgrey;
    text-align: left;
}

.chart{
    text-align: center;
    margin-top: 30px;
    margin-bottom: 30px;
}

.row{
    margin-top: 50px;
    text-align: center;
    margin-bottom: 50px;
}

.footer
{font-family: "Montserrat", sans-serif;
    color: lightgrey;
    background-color: black;
    margin-bottom: 10px;
    text-align: center;

    @media screen and (max-width: 600px){
       .images/treecat {
        width: 100%;
    }
}