/*styling the masthead*/

.hero{
    
    background-color: black;
    padding-top: 200px;
    padding-bottom: 200px;
    color: azure;
}

header{
    font-size: 42px;
    margin: 0;
    text-align: center;
}

h2{text-align: center;}

/*styling the content wrapper*/
#content{
    margin: 0 auto;
    width: 900px;
    max-width: 900px;
}
#headline{
    font-size: 22px ;
    font-family: Helvetica, sans-serif;
    font-style: bold;
    text-align: center;
    padding-top: 20px;
}
#byline {
    font-family: Helvetica, sans-serif;
    font-size: 14px;
    font-style: italic;
    text-align: center;
    }
    .picture{
        margin: 0 auto;
        display: block;
        max-width: 100%;
        padding-bottom: 20px;
        text-align: center;
        padding-right: .5px;
        padding-left: .5px;
    }
p{
    font-family: Georgia, serif;
    font-size: 13 px;
    margin:o auto;
    padding-left: 250px;
    padding-right: 250px;
    text-align: left;
    }

    
figcaption{
    text-align: left;
    font-size: smaller;
    padding-top: 0;
    padding-left: 100px;
    padding-right: 100px;
    font-family: georgia,serif;
    margin-top: 10px;
    color: grey;
}

.row{
    margin-top: 20px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    border-left: 0;
    border-right: 0;
    padding-left: 0%;
    padding-right: 0%;
}
.button {
    font-size: smaller;
    font-family: Helvetica, "sans-serif";
    background-color: black;
    color: white;
    margin: auto;
}
